# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

API_key_prey_detector.txt

# Jupyter
.ipynb_checkpoints/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF
build/
sdkconfig.old
managed_components/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.jpg
*.jpeg
*.png
!docs/**/*.png
datasets/
models/*.tflite
models/*.onnx
models/*.pt
captures/
API_key_prey_detector.txt
